*{
    padding: 0;
    margin: 0;
    background-color: #2C3E40;
};

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;

};

img{
    width: 2px;
    height: 2px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#cadastrar{
  margin-top: 2vh;
  display: inline-block;
  padding: 10px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #809FB0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:active {
  background-color: #809FB0;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input{
    border: none;
    height: 2vh;
    width: 40vh;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
};

select{
    color: white;
}

#vaga{
    border: none;
    display: flex;
    border-radius: 25px;
    border: none;
    width: 19vw;
    height: 4vh; 
    background-color: #fff;
    box-shadow: 2px 2px 2px gray;
} #vaga option{
  background-color: #fff;
}

#tipo{
    border: none;
    display: flex;
    border-radius: 25px;
    border: none;
    width: 19vw;
    height: 4vh; 
    background-color: #fff;
    box-shadow: 2px 2px 2px gray;
} #tipo option{
  background-color: #fff;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.479);
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
  width: 50%;
  height: 60%;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  text-align: end;
  margin-right: 40px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-btn {
  background-color: aliceblue;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.editar-btn{
  cursor: pointer;
}